.ver{
        display:inline-block;
        padding:0.15rem 0;
        width:1.8rem;
        text-align:center;
        font-size:0.28rem;
        background:#e8e8e8;
        color:#3297fd;
        vertical-align: middle;
        span{
            display:inline-block;
            padding:0 2px;  
        }
    }