.application-loan{
    position:fixed;
    bottom:0;
    background:#fff;
    width:7.5rem;
    padding:0.25rem;
    button{
        background:#3297fd;
        color:#fff;
        border:none;
        outline:none;
        width:7rem;
        font-size:0.40rem;
        padding:0.1rem 0;
        border-radius:0.1rem;
    }
}