.auto-page{
    width:100%;
    background:#fff;
    .auto-img{
        width:100%;
        >img{
            width:100%;

        }
    }
    .auto-list{
        padding:0.4rem;
        >li{
            padding-bottom:0.2rem;
            >p{
                margin-top:0;
                margin-bottom:0.2rem;
                color:#666;
                &.title{
                    color:#f35b10;
                    font-weight:700;
                    .q{
                        padding:0.04rem 0.02rem;
                        background:#f35b10;
                        color:#fff;
                        font-size:0.24rem;
                        border-radius: 4px;
                    }
                }
                span{
                    color:#f35b10;
                }
            }
        }

    }
}