.banner-page{
    position:relative;
    height: 4.06rem;
    overflow: hidden;
    width:7.5rem;
    margin-top:1.045rem;
    .banner-list{
        position:absolute;
        top:0;
        left:0;
        height:100%;
        display:flex;
        transition:left 0.5s;
        >li{
            width:7.5rem;
            height:100%;
            >a{
                width:100%;
                height:100%;
                >img{
                    width:100%;
                    height:100%;
                }
            }
        }
    }
    .spot{
        position:absolute;
        bottom:0.2rem;
        height:0.4rem;
        width:100%;
        text-align: center;
        line-height:0.4rem;
        >span{
            margin: 0 0.2rem;
            display:inline-block;
            width:0.2rem;
            height:0.2rem;
            background:transparent;
            border:0.04rem solid #fff;
            border-radius:50%;
            &.active{
                background:#fff;
            }
        }
    }
}